@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
}

.playfairui{
    /* color: rgba(0, 0, 0, 0.4); */
    font-family: "Playfair Display", Sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 1em;
    letter-spacing: -1px;
    cursor: pointer;
}

.playfairui:hover{
  color: rgba(0 , 0 , 0 , 0.6);
}

/* @media (max-width:768px) {
  .text-default{
    text-align: center;
  }
  .space-default{
    position: absolute;
    top: 100px;
  }
  .text-align-default{
    text-align: center;
  }
  .footer{
    position: fixed;
    z-index: 100;
  }
} */